body {
	background-color: #231123 ;
}

.3DViewer {
	min-width: 100px;
	max-width: 300px;
}

.image {
	min-width: 100px;
	max-width: 300px;
	border-radius: 5px;
}

.centerText {
	text-align: center;
}

.listItem {
	border-radius: 5px;
	background-color: #2C3220;
	padding: 10px;
	margin: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.darkPurpleAccent{
	background-color: #231123;
}


.darkGreenAccent{
	background-color: #2C3220;
}
	