{% extends "layout.html" %}

{% set active_page = "home" %}

{% block title %}Home{% endblock %}

{% block content %}
    <!--page content-->
	<div class="container mt-5">

		<h1 class="centerText">Welcome to Koffe,</h1>
		<p class="centerText">The best place for coffee lovers to know more about well... coffee!</p>
		
		<br>
		
		<div class="row">
			<div class="col">
				<h1>About this data:</h1>
			</div>
			<div class="col">
				<p>The dataset used to compile this website was from the CORGIS Data Set Project website, it compiled data from the Coffee Quality Database created by Buzzfeed Data Scientist James LeDoux. The data was collected from 2010 to 2018.</p>
			</div>
			
		</div>
	</div>
{% endblock %}
