{% extends "layout.html" %}

{% set active_page = "home" %}

{% block title %}Home{% endblock %}

{% block content %}
    <!--page content-->
	<div class="container mt-5 p-5">

		<div class="fadeup centerText p-5">
			<h1>Welcome to Koffe,</h1>
			<p>The best place for coffee lovers to know more about well... coffee!</p>
		</div>
		
		<br>
		
		<div class="row fadedown p-5">
			<div class="col-lg">
				<h1>About this data:</h1>
			</div>
			<div class="col-lg">
				<p>The dataset used to compile this website was from the <a href="https://corgis-edu.github.io/corgis/json/">CORGIS Data Set Project website</a> it compiled data from the Coffee Quality Database created by Buzzfeed Data Scientist James LeDoux. The data was collected from 2010 to 2018 and was surveyed by varios Q Graders who looked at 9 different aspects of each selected coffee bean and took samples from multiple bags to ensure accuracy. </p>
			</div>
			
		</div>
		<div class="row fadedown p-5">
			<div class="col-lg">
				<h1>How are coffee beans tested?</h1>
			</div>
			<div class="col-lg">
				<p>“Coffee cupping, or coffee tasting, is the practice of observing the tastes and aromas of brewed coffee. It is a professional practice but can be done informally by anyone or by professionals known as "Q Graders". A standard coffee cupping procedure involves deeply sniffing the coffee, then loudly slurping the coffee so it spreads to the back of the tongue. The coffee taster attempts to measure aspects of the coffee's taste, specifically the body (the texture or mouthfeel, such as oiliness), sweetness, acidity (a sharp and tangy feeling, like when biting into an orange), flavor (the characters in the cup), and aftertaste. Since coffee beans embody telltale flavors from the region where they were grown, cuppers may attempt to identify the coffee's origin.” <a href="https://en.wikipedia.org/wiki/Coffee_cupping">Source</a></p>
			</div>
			
		</div>
	</div>
{% endblock %}
