{% extends "layout.html" %}

{% set active_page = "p1" %}

{% block title %}Page1{% endblock %}

{% block content %}
    <!--page content-->
	<div class="container mt-5">
		<div class="row">
			<div class="col">
				<h1>Page 1</h1>
				
				 <form action="/countrys">
					  <select name="country"> <!-- add onchange="this.form.submit()" to submit/update the form when an option is selected.  Usefull for then displaying county options. -->
						{{ Country_options }}
					  </select>
					  <br><br>
					  <input type="submit" value="Select Country.">
				 </form>
			</div>
			<div class="col">
			 <h1> Coffee Bean Owners in that country: </h1>
				<form action="/showBeanOwners">
					<select name="owners">
						{{ owners_options }}
					</select>
					<input type="hidden" id="selectedCountry" name="selectedCountry" value="{{ selected_country }}">
					<input type="submit" value="Select Owner.">
				</form>
				
				<h1> Regions </h1>
				<form action="/showBeanRegions">
					<select name="regions">
						{{ region_options }}
					</select>
					<input type="submit" value="Select Region.">
				</form>
				
				<form action="/showBeansBySelCountry ">
				  <select name="beans"> <!-- add onchange="this.form.submit()" to submit/update the form when an option is selected.  Usefull for then displaying county options. -->
					{{ beans_options }}
				  </select>
				  <br><br>
				  <input type="submit" value="Select Bean.">
				</form>
						
						
				 <div id="selectedBeanInfo">
					<p>{{ bean_info }}</p>
				</div>
				
				 <div id="highestRatedBean">
					<p>{{ highest_rated }}</p>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
