{% extends "layout.html" %}

{% set active_page = "page1" %}

{% block title %}Page1{% endblock %}

{% block content %}
    <!--page content-->
	
	<div class="container mt-5">
		<div class="row">
			<div class="col">
				<h1>Search through the Dataset.</h1>
				{% if Country_options %}
				 <form action="/countrys">
					  <select name="country"> <!-- add onchange="this.form.submit()" to submit/update the form when an option is selected.  Usefull for then displaying county options. -->
						{{ Country_options }}
					  </select>
					  <br><br>
					  <input type="submit" value="Select Country.">
				 </form>
				{%endif%}
			</div>
			<div class="col">
			{% if owners_options %}
			 <h1> Coffee Bean Owners in that country: </h1>
				<form action="/showBeanOwners">
					<select name="owners">
						{{ owners_options }}
					</select>
					<input type="hidden" id="selectedCountry" name="selectedCountry" value="{{ selected_country }}">
					<input type="submit" value="Select Owner.">
				</form>
			{%endif%}	
			{% if region_options %}	
				<h1> Regions </h1>
				<form action="/showBeanRegions">
					<select name="regions">
						{{ region_options }}
					</select>
					<input type="hidden" id="selectedOwner" name="selectedOwner" value="{{ selected_owner }}">
					<input type="hidden" id="selectedCountry" name="selectedCountry" value="{{ selected_country }}">
					<input type="submit" value="Select Region.">
				</form>
			{%endif%}	
			{% if year_options %}	
				<h1> Years </h1>
				<form action="/showYearOptions">
					<select name="years">
						{{ year_options }}
					</select>
					<input type="hidden" id="selectedOwner" name="selectedOwner" value="{{ selected_owner }}">
					<input type="hidden" id="selectedCountry" name="selectedCountry" value="{{ selected_country }}">
					<input type="hidden" id="selectedRegion" name="selectedRegion" value="{{ selected_region }}">
					<input type="submit" value="Select Year.">
				</form>
			{%endif%}	
			{% if species_options %}
				<h1> Species </h1>
				<form action="/showSpeciesOptions">
					<select name="species">
						{{ species_options }}
					</select>
					<input type="hidden" id="selectedOwner" name="selectedOwner" value="{{ selected_owner }}">
					<input type="hidden" id="selectedCountry" name="selectedCountry" value="{{ selected_country }}">
					<input type="hidden" id="selectedRegion" name="selectedRegion" value="{{ selected_region }}">
					<input type="hidden" id="selectedYear" name="selectedYear" value="{{ selected_year }}">
					<input type="submit" value="Select Species.">
				</form>
			{%endif%}		
				 <div id="highestRatedBean">
					<p>{{ highest_rated }}</p>
				</div>
			</div>
		</div>
		{% if bean_total %}
			<div class="row p-5">
				<div class="card">
					<div class="card-header">{{ bean_species_name }}</div>
					<div class="3DViewer"> 
						<script type="module" src="https://unpkg.com/@splinetool/viewer@1.0.93/build/spline-viewer.js"></script>
						<spline-viewer loading-anim-type="spinner-small-dark" url="https://prod.spline.design/oc4iWeBs8tidLmkg/scene.splinecode"></spline-viewer>
					</div>
					<div class="card-body">
						<h3>Scores for your selected bean:</h3>
						
						<ul> 
							<li>Aroma={{bean_total.Aroma}}</li>
							<li>Flavor={{bean_total.Flavor}}</li>
							<li>Aftertaste={{bean_total.Aftertaste}}</li>
							<li>Acidity={{bean_total.Acidity}}</li>
							<li>Body={{bean_total.Body}}</li>
							<li>Balance={{bean_total.Balance}}</li>
							<li>Uniformity={{bean_total.Uniformity}}</li>
							<li>Sweetness={{bean_total.Sweetness}}</li>
							<li>Moisture={{bean_total.Moisture}}</li>
							<li>Total={{bean_total.Total}}</li>
						</ul>
					</div>
					<div class="card-footer">{{ bean_country }}</div>
				</div>
			</div>
		{%endif%}
	</div>
{% endblock %}
