{% extends "layout.html" %}

{% set active_page = "page2" %}

{% block title %}Page 2{% endblock %}

{% block content %}
    <!--page content-->
	<div class="container mt-5 centerText">
		<div class="row">
			<div class="col">
				<h1>Here are some various recipes for various types of coffee brews:</h1>
			</div>
		</div>
		<br>

		
		
		
	    <div class="row">
			<div class="col">
				<div class="card3D card darkPurpleAccent" id="card1">
					<div class="card-header card3DContent">
						<h1>Overnight Cold Brew Coffee.</h1>
						<img class="image" src="../static/images/ColdBrew.jpg">
					</div>
					<div class="card-body card3DContent">
						<h6>Ingredients: ⅓ cup/35 grams ground coffee (medium-coarse grind is best), Milk (optional.)</h6>
						<ul>
							<li>
								<h5>Step 1:</h5>
								<p>In a jar, stir together coffee and 1½ cups cold water. Cover and let rest at room temperature overnight or 12 hours.</p>
							</li>
							<li>
								<h5>Step 2:</h5>
								<p>Strain twice through a coffee filter, a fine-mesh sieve or a sieve lined with cheesecloth. In a tall glass filled with ice, mix equal parts coffee concentrate and water, or to taste. If desired, add milk.</p>
							</li>
						</ul>
					</div>
					<div class="card-footer">
						<a href="https://cooking.nytimes.com/recipes/1017355-cold-brew-coffee">Sourced From</a>
					</div>
				</div>
			</div>
			
			<div class="col">
				<div class="card darkPurpleAccent card3D" id="card2">
					<div class="card-header card3DContent">
						<h1>Homemade Frappuccino.</h1>
						<img class="image" src="../static/images/Frappuccino.jpg">
					</div>
					<div class="card-body card3DContent">
						<h6>Ingredients: Espresso (or strongly brewed coffee) Ice Milk (or your favorite milk alternative) Sweetener – chocolate syrup, caramel, chocolate chips, etc. Whipped cream</h6>
						<ul>
							<li>
								<h5>Step 1:</h5>
								<p>In a blender, combine the espresso or coffee, ice, milk, and sweetener(s) of choice. See the recipe card below for exact measurements. Blend well until almost foamy.</p>
							</li>
							<li>
								<h5>Step 2:</h5>
								<p>Pour into a glass and top with whipped cream.</p>
							</li>
						</ul>
					</div>
					<div class="card-footer">
						<a href="https://abeautifulmess.com/homemade-frappuccino/">Sourced From</a>
					</div>
				</div>
			</div>
			
			<div class="col">
				<div class="card darkPurpleAccent card3D" id="card3">
					<div class="card-header card3DContent">
						<h1>Cappuccino.</h1>
						<img class="image" src="../static/images/Cappuccino.jpg">
					</div>
					<div class="card-body card3DContent">
						<h6>Notes: Handheld milk frother. A handheld milk frother is economical and works well. It gets the milk extremely frothy, which is great for a macchiato or cappuccino. French press. If you have a French press for making coffee, it’s great for making foam! It makes a nice frothy foam with bubbles a little larger than the frother. Whisk. A whisk works too! It whips up the milk pretty well: it also has a bit larger bubbles and generates a little less foam than the other methods.</h6>
						<ul>
							<li>
								<h5>Step 1: Make the espresso.</h5>
								<p>Make the espresso using an espresso machine, espresso maker, or Aeropress.</p>
							</li>
							<li>
								<h5>Step 2: Steam the milk:</h5>
								<p>Espresso Machine Method: Use the notes in the section above to steam the milk and get it nice and foamy.</p>
								<p>OR, heat the milk on the stovetop then froth it. A temperature of 150 degrees Fahrenheit is perfect: that’s where the milk is hot to the touch but not simmering. Then froth using your desired method to froth the milk until it’s very foamy. For a cappuccino you’ll want a good amount of froth: you’re going for ⅓ espresso, ⅓ steamed milk and ⅓ foam.</p>
							</li>
							<li>
								<h5>Step 3: Serve.</h5>
								<p>Pour the frothed milk into the espresso and serve! It’s nice to use a latte cup, which holds the perfect amount.</p>
							</li>
						</ul>
					</div>
					<div class="card-footer">
						<a href="https://www.acouplecooks.com/how-to-make-cappuccino/">Sourced From</a>
					</div>
				</div>
			</div>
			</div>
		</div>
<script src="{{ url_for('static', filename='script.js') }}"> </script>
{% endblock %}
